@import "src/theme";

.empty-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $spacing16;
    opacity: 0.8;

    > img {
        margin-bottom: $spacing8;
    }

    > .message {
        color: $black_343a3f;
        font-weight: 700;
        font-size: 12px;
    }
}