$siteWidth: 1024px;
$tabletWidth: 900px;
$mobileWidth: 768px;

$headerHeight: 72px;
$buttonHeight: 48px;

$borderRadius: 8px;
$mainVideoRadius: 16px;
$spacing4: 4px;

$white: #fff;
$bgContainer: #fbfdff;
$grey: #707a83;
$borderWhite: rgb(229, 232, 235);
$borderBlue: #15b2e5;
$red: #ff0000;

// figma design
$spacing6: 6px;
$spacing8: 8px;
$spacing12: 12px;
$spacing16: 16px;
$spacing24: 24px;
$spacing32: 32px;

$borderRadius4: 4px;
$borderRadius16: 16px;

$font8: 8px;
$font12: 12px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font36: 36px;

$black: #1b1b1f;
$black_161D2F: #161d2f;
$black_343a3f: #343a3f;
$web3: #3f3f3f;
$web3_hover: #1f1f1f;

$bg_blue: #ecf6ff;
$divider: #eeeeee;

$grey_c4c4c4: #c4c4c4;
$grey_A3A9B6: #a3a9b6;
$grey_f8f8f8: #f8f8f8;
$grey_8B9196: #8b9196;
$grey_888888: #888888;
$grey_51585E: #51585e;
$grey_placeholder: #b8b8b8;

$red_ffeeee: #ffeeee;
$red_F3C6C6: #f3c6c6;

$blue_F0F8FF: #f0f8ff;
$blue_B6D1E9: #b6d1e9;

$priceDown: #31c363;
$priceUp: #e85c5c;
